// Font
$ff-primary              :"Open Sans", "PT Sans", sans-serif;
$ff-secondary            :"Roboto", "PT Sans", sans-serif;
$ff-tertiary             :"Montferrat", "PT Sans", sans-serif;

// Font-sizes

$fs-body                 : 18px;
$fs-h2                   : 50px;

//Font-weight 

$fw-light                :300;
$fw-reg                  :400;
$fw-med                  :600;
$fw-bold                 :700;

//Line-height

$lh-primary              :1;
$lh-secondary            :1.2;

// Main Colors
$clr-light              :#fff;
$clr-dark               :#151515;
$clr-text               :#888888;
$clr-text-sec           :#777777;
$clr-text-ter           :#333333;
$clr-accent             :#8d83f9;

//Border Colors 
$br-clr-primary         :#cdcdcd;
$br-clr-secondary       :#e6e6e6;

//Background Colors

$bg-clr-light           :#f2f2f2;